.abs { position: relative; }

.folder {
    position: absolute;

    height: 40vh;
    width: 30vh;
}

.folder-img {
    background-image: url('../assets/folder.png');
    background-size: contain;
    background-repeat: no-repeat;

    height: 30vh;
}

.folder-name {
    text-align: center;
    color: white;

    font-family: Agrandir;
    font-size: 1em;
}

.folder:nth-child(1) {
    top: 10%;
    left: 10%;
}

.folder:nth-child(2) {
    bottom: 10%;
    left: 10%;
}

.folder:nth-child(3) {
    top: 10%;
    right: 10%;
}

.folder:nth-child(4) {
    bottom: 10%;
    right: 10%;
}

.terminal-container {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.terminal {
    background-image: url('../assets/terminal.png');
    background-repeat: no-repeat;
    aspect-ratio: 5/4;

    width: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.terminal h1 {
    color: var(--primary);
    font-family: Aurora;
    font-size: 4em;
}